In [1]:
import pandas as pd
dataFrame = pd.DataFrame({'col1':['A']*3 + ['B']*4 + ['C','B','A'], 'col2': [2,3,4,2,4,2,1,3,4,4]})

dataFrame.drop_duplicates()

  col1  col2
0    A     2
1    A     3
2    A     4
3    B     2
4    B     4
6    B     1
7    C     3

In [8]:
import numpy as np
Dframe = pd.DataFrame([ [1,2,3,np.nan,4],[2,np.nan,5,6,4], [np.nan,7,np.nan,9,6] ])
Dframe.replace(to_replace=np.nan, value=99,)

      0     1     2     3  4
0   1.0   2.0   3.0  99.0  4
1   2.0  99.0   5.0   6.0  4
2  99.0   7.0  99.0   9.0  6

In [9]:
Dframe = pd.DataFrame({ 'key': ['x','x','y','y','z'],'x':np.arange(5) , 'y': [3,4,5,6,7] })
Dframe.mean()

x    2.0
y    5.0
dtype: float64

In [11]:
#Yield is a keyword in Python that is used to return from a function without destroying the states of its local variable and when the function is called, 
#the execution starts from the last yield statement.

In [12]:
n = 123
rev = 0
 
while(n > 0):
    a = n % 10
    rev = rev * 10 + a
    n = n // 10
 
print(rev)

321

In [13]:
import smtplib as s

ob=s.SMTP("smtp.gmail.com",587)

ob.starttls()

ob.login("ramkunwarboo@gmail.com", "ram@1234")

subject = "Sendin email using Python"
body = "python email sending"

message = "Subject:{}\n\n{}".format(subject,body)

listofaddress = ["ramkunwarboo@gmail.com"]

ob.sendmail("ramkunwarboo@gmail.com", listofaddress,message)

print("send successfully....")

ob.quit()

send successfully....

(221, b'2.0.0 closing connection u10sm11461871pfg.168 - gsmtp')

In [ ]:
#right know I am Learning mysql so I only perform task one